<div class="search-form mt-4">
  <form method="POST" action="">
    <div class="form-group">
      <label for="search-input">Key</label>
      <input
        type="text"
        name="key-input"
        class="form-control mt-2"
        id="search-input"
        placeholder="Enter key..."
      />
    </div>
    
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>